<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card">
            <h5>Left Align</h5>
            <p-timeline [value]="events1">
                <ng-template let-event pTemplate="content">
                    {{ event.status }}
                </ng-template>
            </p-timeline>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="card">
            <h5>Right Align</h5>
            <p-timeline [value]="events1" align="right">
                <ng-template let-event pTemplate="content">
                    {{ event.status }}
                </ng-template>
            </p-timeline>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="card">
            <h5>Alternate Align</h5>
            <p-timeline [value]="events1" align="alternate">
                <ng-template let-event pTemplate="content">
                    {{ event.status }}
                </ng-template>
            </p-timeline>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="card">
            <h5>Opposite Content</h5>
            <p-timeline [value]="events1">
                <ng-template let-event pTemplate="content">
                    <small class="p-text-secondary">{{ event.date }}</small>
                </ng-template>
                <ng-template let-event pTemplate="opposite">
                    {{ event.status }}
                </ng-template>
            </p-timeline>
        </div>
    </div>
</div>

<div class="card">
    <h5>Customized</h5>
    <p-timeline [value]="events1" align="alternate" styleClass="customized-timeline">
        <ng-template let-event pTemplate="marker">
        <span [style.backgroundColor]="event.color"
              class="flex z-1 w-2rem h-2rem align-items-center justify-content-center text-white border-circle shadow-2">
            <i [ngClass]="event.icon"></i>
        </span>
        </ng-template>
        <ng-template let-event pTemplate="content">
            <p-card [header]="event.status" [subheader]="event.date">
                <img *ngIf="event.image" [alt]="event.name" [src]="'assets/demo/images/product/' + event.image"
                     class="shadow-2" width="200"/>
                <p class="line-height-3 my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
                    consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque quas!</p>
                <button class="p-button-outlined mb-5" label="Read more" pButton></button>
            </p-card>
        </ng-template>
    </p-timeline>
</div>

<div class="card">
    <h5>Horizontal</h5>
    <h6>Top Align</h6>
    <p-timeline [value]="events2" align="top" layout="horizontal">
        <ng-template let-event pTemplate="content">
            {{ event }}
        </ng-template>
    </p-timeline>

    <h6>Bottom Align</h6>
    <p-timeline [value]="events2" align="bottom" layout="horizontal">
        <ng-template let-event pTemplate="content">
            {{ event }}
        </ng-template>
    </p-timeline>

    <h6>Alternate Align</h6>
    <p-timeline [value]="events2" align="alternate" layout="horizontal">
        <ng-template let-event pTemplate="content">
            {{ event }}
        </ng-template>
        <ng-template let-event pTemplate="opposite">
            &nbsp;
        </ng-template>
    </p-timeline>
</div>
